* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5px;
    align-content: center;
    }

#logo a img{
    margin-left: auto;
    margin-right: auto;
    width:4em;
    height: 4em;
    
}

header{
    background-color:rgba(0,0,0,0.5);
    display:block;
}

h1{
    font-size: 3em;
    text-align: center;
}

h2{
    font-size: 2em;
    text-align: center;
}

p{
    color: white; 
    font-size: 1.5em;
    text-align: center;
}


body { 
     background-image: url(photos/background.png);
     color:#9CC0CC;
    }

a{
    color:plum;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    text-decoration: none;
}

a:hover{
    color: hotpink;
}

/*a:visited{
    color:
}*/


nav li a{
    margin:1.5em;
    color:white;
    
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    
}

nav ul li {
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;

}

ul li a{
    font-size:3em;
}


a img{
    height:70%;
    width:80%;
    display: block;
}

ul{
    list-style:none;
    display:flex;
    justify-content: center;
    text-align: center;

}


 nav ul li a{
     color: white;
     font-size: 2em;

 }

form{
    font-size:1.5em;
    color:white;
}

