* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 400px
    }
h1{
    font-size: 3em;
}

h2{
    font-size: 1.5em;
}

p{
    color: white; 
    width: 400px;
}

body { 
     background-color:#011640;
     color:#9784D9;
    }

a{
    color:#6387F2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    width: 400px
}

nav ul{ 
    width: 400px;
    list-style:none;
    display:flex;
    justify-content: flex-start;
    /flex-direction:column;
    background-color: #021F59;
}

nav ul li {
    background-color:#022873;
    margin:0.25em;
    padding:0.25em;
    width:400px;
}
