* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5px;
    align-content: center;
    }
h1{
    font-size: 4em;
    text-align: center;
}

h2{
    font-size: 3em;
    
    text-align: center;
}

p{
    color: white; 
    font-size: 2.5em;
    text-align: center;
}


body { 
     background-image: url(photos/background.png);
     color:#9CC0CC;
    }

a{
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3em;
    text-align: center;
    text-decoration: none;
}

a:hover{
    color: hotpink;
}

a:visited{
    color:hotpink;
}


nav li a{
    margin: 2.3em;
}

img{
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

nav ul li {
    margin:0.5em;
    color: white;
}


a img{
    width:8.5em;
    height:6em;
    justify-content: center;
    display: flex;
    margin: 0 30px;
}

ul{
    list-style:none;
    display:flex;
    justify-content: center;
    text-align: center;
    margin: 1em;
}


